/* Basic structure */
* {
  box-sizing: border-box;
}

body {
  text-align: center;
}

div {
 font-size: 40px;
}

/* Begin heree */

.container {
  margin: 40px 0 40px 0;
}

.first-row {

}

.one, 
.two, 
.three, 
.four {
  background-color: rgb(248, 165, 0);
  display: inline;
  padding: 20px 0 20px 0;
}

.second-row {
  margin-top: 60px;
  display: block;
}

.five,
.six,
.seven,
.eight {
  background-color: rgb(4, 158, 163);
  display: inline;
  padding: 20px 0 20px 0;
}

/*display change to inline*/

.inline {
  display: inline;
}

.expand {
  padding: 0 30px 0 30px;
}